

#tsparticles {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  left: 0;
}

.react-toggle-track {
  background-color:#000000!important;
  width:60px!important;
}

.react-toggle--checked .react-toggle-track {
  background-color:#ffffff!important;
  width:60px!important;
}

.react-toggle--checked .react-toggle-thumb {
 left:36px!important; 
}

.react-toggle-track-check {
  top: 4px!important;
  left: 8px!important;
}

.react-toggle-track-x {
  top: 5px!important;
  right: 16px!important;
}